*
!.github
!.github/*

!src
!src/*

!src/Core
!src/Core/*

!src/images
!src/images/*

!src/masm
!src/masm/*

!srcModule Templates
!src/Module Templates/*

!ThirdParty
!ThirdParty/*

!ThirdParty/**

!/.gitattributes
!/.gitignore
!/ConfigFunctions.h
!/core.js
!/ddmk.js
!/dinput8.cpp
!/GlobalBase.ixx
!/GUIBase.ixx
!/HooksBase.ixx
!/VS2022x64.bat
!/CMakeLists.txt
/VS2022 x64
